* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor del formulario */
.contact {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(100, 110, 217, 0.37),
      rgba(111, 78, 172, 0.37)
    ),
    url(../img/PC.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fomrulario */
.contact__form {
  width: 60%;
  background-color: white;
  padding: 40px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__desktop {
  width: 100%;
}

/* Titulo del formulario */
.contact__legend {
  text-align: center;
  font-size: 25px;
  font-weight: bold;

  margin-bottom: 30px;
}

/* contenedor de cada input */
.contact__field {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Anchura del label */
.contact__label {
  width: 15%;
  min-width: 80px;
}

/* Anchura del input */
.contact__input {
  height: 60px;
  width: 85%;
  min-width: 100px;
}

/* Anchura de la consulta */
.contact__textarea {
  height: 80px;
  width: 85%;
  min-width: 100px;
}

/* Contenedor del button */
.contact__send {
  margin-top: 30px;
  text-align: center;
}

/* Estilo de button */
.contact__send .contact__btn {
  background-image: linear-gradient(
    to right,
    rgba(100, 110, 217, 1),
    rgba(111, 78, 172, 1)
  );
  width: 160px;
  padding: 20px 0;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

@media (min-width: 992px) {
  .contact__desktop {
    display: flex;
    justify-content: space-around;
  }

  /* Estilo de los dos primeros inputs */
  .contact__desktop .contact__field {
    width: 50%;
  }

  .contact__desktop .contact__field .contact__label {
    min-width: 30%;
  }

  .contact__desktop .contact__field:nth-of-type(1) .contact__input {
    margin-right: 20px;
  }

  .contact__send {
    align-self: flex-end;
  }
}
