@use '../base/vars' as v;
@use '../base/mixins' as m;

.footer{
    border-top: 1px solid v.$grey;
    
    &__grid{
        margin-bottom:4rem;

        @include m.tablet{
            @include m.crear-grid(3);
            
            .footer__links{
                display: flex;
                justify-content: start;
                align-items: start;
            }
        }
    }

    &__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a{
            color: v.$black;
        }
    }
    &__rights{
        text-align: center;
    }
}