/* VARIABLES */
:root {
  --h1-size: 4.2rem;
  --h2-size: 3.8rem;
  --h3-size: 3.4rem;
  --p-size: 2rem;
  --a-size: 2rem;

  --principal: #3f2690;
  --gris: #7f7e7e;
  --gris-claro: #eceeef;
  --boton-formulario: #222729;
  --negro: #000000;
  --blanco: #ffffff;

  --anchura-logo: 30rem;
  --anchura-maxima-imagen-hero-movil-tablet: 40rem;
}

/* FUENTES */
@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}

/* ESTILO DE LAS ETIQUETAS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: OpenSans-Regular;
  font-size: 62.5%;
}

body {
  background-color: var(--gris-claro);
}

h1,
h2,
h3 {
  font-family: RobotoCondensed-Bold;
  font-weight: 700;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p,
a {
  font-family: Roboto-Regular;
}

p {
  font-size: var(--p-size);
}

a {
  text-decoration: none;
  font-size: var(--a-size);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HEADER */
.header {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

/* LOGO DEL HEADER */
.header__logo {
  width: var(--anchura-logo);
  margin: 20px auto;
}

.header__logo img {
  width: 100%;
}

/* ENLACES DEL HEADER */
.header__nav {
  /* display: grid; */
  margin: 50px 0;
}

.nav__enlaces {
  line-height: 2px;
}

/* Elemento enlace */
.enlaces__boton {
  width: 95%;
  padding: 10px 0;
  margin: 0 auto;
  border-radius: 10px;

  /* Cabiar en un futuro */
  display: flex;
  align-items: center;
  justify-content: center;
}

.enlaces__boton--especial {
  line-height: 30px;
}

.enlaces__boton a {
  color: var(--negro);
  font-weight: 800;
}

.enlaces__boton--especial {
  background-color: var(--principal);
}

.enlaces__boton--especial a {
  color: white;
}

/* FORMULARIO DEL HEADER */
.header__formulario {
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--principal);
  color: var(--blanco);
}

.formulario__container {
  width: 80%;
  margin: 0 auto;
  display: grid;
}

.formulario__titulo {
  text-align: center;
  padding: 40px 0;
}

.formulario__texto {
  margin-top: 20px;
  font-size: var(--p-size);
  font-family: Roboto-Regular;
}

.formulario__input,
.formulario__texto {
  height: 50px;
}

.formulario__input {
  padding: 0 10px;
  font-family: Roboto-Regular;
}

.formulario__boton {
  margin: 30px 0;
  padding: 10px 0;
  background-color: var(--boton-formulario);
  color: var(--blanco);
  border: none;
  font-weight: 800;
  border-radius: 10px;
}

/* HERO DEL HEADER */
.header__hero {
  max-width: var(--anchura-maxima-imagen-hero-movil-tablet);
  margin: 50px auto;
}

.header__hero img {
  width: 100%;
}

.container__maxwi {
  max-width: 1200px;
  margin: 0 auto;
}

/* ANCHURA MÁXIMA DEL CONTENEDOR */
.main {
  margin: 0 auto;
}

.comofunciona__anchuramaxima {
  max-width: 1200px;
  margin: 0 auto;
}

.main__comofunciona {
  width: 100%;
  background: linear-gradient(
      to top,
      rgb(63, 38, 144) 96.5%,
      rgba(63, 38, 144, 0) 96.5%
    ),
    url("../img/wave.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.comofunciona__titulo {
  text-align: center;
  color: var(--blanco);
}

.comofunciona__titulo--1 {
  padding-top: 100px;
}

.comofunciona__titulo--2 {
  font-size: var(--p-size);
}

.pasos__paso {
  width: 80%;
  margin: 0 auto;
}

.pasos__paso img {
  width: 100%;
}

/* OPINIONES */
.opiniones__container {
  background-color: var(--blanco);
  padding: 80px 0;
}

.main__opiniones {
  width: 90%;
  margin: 0 auto;

  display: grid;
  gap: 30px;
}

.opiniones__titulo {
  margin-bottom: 80px;
  text-align: center;
}

.opiniones__opinion {
  width: 100%;
  background-color: var(--gris);
  color: var(--blanco);
  padding: 20px;
  border-radius: 10px;

  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.opinion__infopersona {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.comilla {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.opinion__comentario {
  line-height: 30px;

  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

.infopersona__foto {
  height: 130px;

  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.infopersona__foto img {
  height: 100%;
  border-radius: 100%;
}

.comilla::after {
  content: '"';
  display: inline;
  color: var(--gris-claro);
  font-size: 100px;
}

/* FAVORITOS */
.main__favoritos {
  max-width: 1200px;
  margin: 0 auto;
}

.favoritos__container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  gap: 20px;
}

.favoritos__titulo {
  margin: 50px 0;
  text-align: center;
}

.container__favorito {
  background-color: var(--blanco);
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 1px -1px 20px var(--gris);

  display: grid;
  gap: 20px;
}

.favorito__infofavorito {
  text-align: center;
}

.favorito__imagen {
  width: 70%;
  margin: 0 auto;
}

.favorito__imagen img {
  width: 100%;
}

.infofavorito__titulo {
  color: var(--principal);
  font-weight: 300;
}

.infofavorito__comentario {
  color: var(--gris);
  text-align: center;
  line-height: 40px;
  margin: 10px 0;
}

/* REGISTRA RESTAURANTE */
.main__registrarestaurante {
  width: 100%;
  background-color: var(--blanco);
  margin-top: 80px;
  padding: 60px 0;
}

.registrarestaurante__maxwi {
  max-width: 1200px;
  margin: 0 auto;
}

.registrarestaurante__titulo {
  text-align: center;
  padding-bottom: 50px;
}

.registrarestaurante__imagen {
  width: 95%;
  margin: 0 auto;
}

.registrarestaurante__imagen img {
  width: 100%;
}

.registrarestaurante__comentario {
  width: 95%;
  margin: 0 auto;
  line-height: 35px;
  padding: 10px 0;
  color: var(--gris);
}

.registrarestaurante__boton {
  width: 95%;
  background-color: var(--principal);
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
}

.registrarestaurante__boton a {
  height: 100%;
  width: 100%;
  color: var(--blanco);
}

/* FOOTER */
.footer {
  background-color: var(--gris);
}

.footer__info {
  display: flex;
  justify-content: center;
}

.info__maxwi {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__titulo {
  margin-bottom: 40px;
}

.footer__info {
  width: 95%;
  color: var(--blanco);
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

.footer__info div {
  margin: 20px 0;
}

.navegacion__enlaces {
  display: grid;
}

.navegacion__enlaces a {
  color: var(--blanco);
  line-height: 30px;
}

.footer__texto {
  line-height: 30px;
}

.footer__copyright {
  background-color: var(--principal);
  color: var(--blanco);
  text-align: center;
  line-height: 30px;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }

  .header__logo {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .header__nav {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .header__formulario {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .header__hero {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .comofunciona__pasos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main__comofunciona {
    background: linear-gradient(
        to top,
        rgb(63, 38, 144) 40%,
        rgba(63, 38, 144, 0) 40%
      ),
      url("../img/wave.svg");

    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main__opiniones {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1.75fr;
  }

  .opiniones__opinion--1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .opiniones__opinion--5 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .opiniones__opinion--4 {
    grid-column: 4 / -1;
    grid-row: 1 / 3;
  }

  .opiniones__opinion--2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .opiniones__opinion--3 {
    grid-column: 2/ 4;
    grid-row: 2 / 3;
  }

  .favoritos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
  }

  .registrarestaurante__maxwi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .registrarestaurante__titulo {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .registrarestaurante__imagen {
    height: 100%;

    grid-column: 1 / 2;
    grid-row: 2 / -1;
  }

  .registrarestaurante__imagen img {
    height: 100%;
    object-fit: cover;
  }

  .registrarestaurante__boton {
    width: 50%;
  }

  .registrarestaurante__text {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
  }

  .favoritos__titulo {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
  }

  .info__maxwi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
    gap: 20px;
  }
}
