<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Thymeleaf</title>
</head>
<body>

<p th:text="${mensaje} + ${fecha}" />

<table border="1">
    <tr th:each="usuario: ${usuarios}">
        <td th:text="${usuario.nombre}" />
        <td th:text="${usuario.apellido}" />
        <td th:text="${usuario.correo}" />

        <td>
            <span th:if="${usuario.sexo}" th:text="Hombre"></span>
            <span th:unless="${usuario.sexo}" th:text="Mujer"></span>
        </td>

        <td th:switch="${usuario.tipo.toString()}">
            <span th:case="'Administrador'" th:text="ADM" />
            <span th:case="'Estandar'" th:text="STD" />
            <span th:case="'Anonimo'" th:text="ANM" />
        </td>

    </tr>
</table>

</body>
</html>