* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cards {
  margin: 50px auto;
  max-width: 1200px;

  display: grid;
  gap: 20px;
}

.cards__card {
  width: 100%;
  height: 100%;
  border: solid 1px black;

  display: grid;
  grid-template-rows: repeat(2, auto);
}

.card__imagen {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  z-index: 2;
  display: block;
  overflow: hidden;
}

.card__imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info {
  width: 95%;
  margin: 0 auto;

  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  padding: 10px;
}

.info__nombre {
  text-align: center;
}

.info__boton {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: blueviolet;
}

.info__boton a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: aliceblue;
  padding: 10px 0;

  display: block;
}

@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .cards__card--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .cards__card--2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .cards__card--3 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .cards__card--6 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .cards__card {
    grid-template-rows: 300px auto;
  }
}
