@use '../base/mixins' as m;
@use '../base/vars' as v;

.header {
    padding: 1rem 0;

    display: flex;
    flex-direction: column;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin: 0 auto;
        height: 80px;

        @include m.tablet {
            margin: 0;
            max-width: 40%;
        }
    }

    &__logo img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}