* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-image: linear-gradient(to right, darkgoldenrod, white);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  background-color: white;
  min-width: 800px;
  max-width: 100px;
  height: 700px;
  padding: 20px;
  margin: 20px 40px;
  position: relative;
}

.header {
  height: 100px;
  width: 100%;
  background-color: darkblue;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation {
  background-color: orange;
  padding: 30px;
  margin-bottom: 30px;
}

.navigation h1 {
  text-align: center;
  margin-bottom: 10px;
}

.navigation ul li {
  text-decoration: none;
}

.content__main {
  margin-bottom: 90px;
}

.content__main p {
  padding: 30px;
  text-align: center;
}

.content__main p:nth-child(1) {
  background-color: darkorange;
}

.content__main p:nth-child(2) {
  background-color: dimgray;
}

.content__main p:nth-child(3) {
  background-color: wheat;
}

.footer {
  height: 100px;
  width: 95%;
  background-color: darkblue;
  position: absolute;
  bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
  }

  .content {
    display: flex;
    flex-direction: row-reverse;
  }

  .content__main {
    width: 60%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navigation {
    width: 40%;
  }
}
