/* ESTILOS GENERALES */
body {
  background-color: #d8d8d8;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}

/* Estilos del encabezado */
header {
  height: 15vh;
  width: 100%;
  background-color: #4caf50;
}
.divHeader {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
  height: auto;
  width: 100%;
}

/* BARRA NAVEGADORA */
nav {
  display: flex;
  background-color: #f2f2f2;
  height: 4vh;
}
/* div de el navegador */
.divNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2vh;
  margin-left: 5vh;
  height: auto;
  width: 100%;
}
nav a {
  display: flex;
  text-decoration: none;
  color: #333;
  margin-left: 3vh;
}
nav a:hover {
  color: #4caf50;
}

/* CONTENIDO */
.container {
  display: flex;
  justify-content: center;
  height: 67vh;
  width: auto;
}
/* div del perfil de usuario */
.profile {
  height: 45vh;
  width: 40vw;
  background-color: #1f7922a4;
  color: #f4f4f4;
  border-radius: 5px;
  padding: 4vh;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
  
  margin-top: 5vh;
}
.profile img {
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 7vh;
}
.profile h2 {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 6vh;
}
.profile p {
  margin-bottom: 3vh; /* Cambiado de 10px a 2vh */
  margin-left: 6vh;
}

/* PIE DE PÁGINA */
footer {
  display: flex;
  flex-direction: column;
  background-color: #333;
  min-height: 25vh;
  width: 100%;
  margin-top: auto;
}
/* div de pie de pagina */
.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: auto;
  width: 100%;
}
/* div de boton para volver arriba */
.footerContent button {
  width: 100%;
  padding: 1.5vh;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.2vh;
  font-size: 1em;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
button:hover {
  background-color: #5b5b5b87;
}
