:root {
  --h1-size: 3rem;
  --h2-size: 2.4rem;
  --h4-size: 1.2rem;
  --p-size: 1.2rem;
}

@font-face {
  font-family: "MiFuente";
  src: url("../fonts/Raleway-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "MiFuente";
}

/* CONTENEDOR PRINCIPAL */
.container {
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.header {
  width: 100%;
  height: 80px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HERO */
.hero {
  height: 400px;
  width: 100%;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__hero {
  width: 80%;
  display: flex;
  flex-direction: column;
}

/* BUSCADOR DEL HERO */
.hero__buscador {
  height: 40px;
  width: 100%;

  display: flex;
  justify-content: center;
}

/* Margen de los distintos textos */
.hero__texto--texto1 {
  font-size: var(--h1-size);
  margin: 30px 0;
}

/* Margen de los distintos textos */
.hero__texto--texto2 {
  font-size: var(--p-size);
  margin: 30px 0;
}

.buscador__cuadrotexto {
  height: 40px;
  width: 100%;
  background-color: white;
  border: none;
  color: #999;
}

.buscador__lupa {
  height: 40px;
  width: 40px;
  background-color: #999;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* INFO */
.info {
  width: 100%;
  background-image: linear-gradient(to right, #741d51, #e44e52);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info__eleccion {
  width: 80%;
  color: white;
  margin-left: 10%;
  padding: 10px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.eleccion__logo {
  width: 40px;
}

.eleccion__logo img {
  width: 100%;
}

.eleccion__texto {
  width: 50%;
  text-align: center;
}

/* MAIN */
/* Titulo del main */
.main__titulo {
  font-size: var(--h1-size);
  text-align: center;
  margin: 30px 0;
}

/* Contenedor de las cartas */
.cards {
  margin: 10px 10px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* Estilo general de las cartas */
.cards__card {
  height: 500px;
  flex: 1 1 calc(50% - 30px); /* 2 columnas en móviles */
  max-width: calc(50% - 30px);
  border: solid 1px #999;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Imagen de la carta */
.card__imagen {
  width: 100%;
}

.card__imagen img {
  width: 100%;
}

/* Titulo de la carta */
.card__titulo {
  font-size: var(--h4-size);
  width: 90%;
  padding: 0 10px;
}

/* Tutor de la carta */
.card__tutor {
  padding: 0 10px;
}

/* Imagen de las estrellas */
.card__estrellas {
  padding: 0 10px;
}

.card__precios {
  font-size: var(--h2-size);
  height: 30px;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
}

.precios__antiguo {
  font-size: var(--p-size);
  align-self: flex-start;
  color: red;
  text-decoration: line-through;
}

.precios__nuevo {
  font-size: var(--p-size);
  font-weight: bolder;
  align-self: flex-end;
  color: green;
}

/* Boton de la carta */
.card__boton {
  width: 100%;
  padding: 10px 10px;

  display: flex;
  justify-content: center;
}

.boton__enlace {
  width: 95%;
  background-color: #741d51;
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
}

/* FOOTER */
.footer {
  border: solid 1px #999;
  padding: 30px 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__enlace {
  color: #333;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .cards__card {
    flex: 1 1 calc(33.33% - 30px); /* 3 columnas */
    max-width: calc(33.33% - 30px);
  }

  .hero__buscador {
    width: 60%;
  }

  .footer {
    flex-direction: row;
    gap: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .cards__card {
    flex: 1 1 calc(25% - 30px); /* 4 columnas */
    max-width: calc(25% - 30px);
  }

  .info * {
    margin: 0;
    padding: 0;
  }

  .info {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
  }
}
