/* VARIABLES */
:root {
  --h1-size: 4.4rem;
  --h2-size: 4rem;
  --h3-size: 3rem;
  --h-line-height: 1.2;
  --p-line-height: 1.8;
  --resto-size: 1.6rem;
  --resto-font-weight: 300;
  --color-rosa: #b8336a;
  --color-turquesa: #068d9d;
  --color-naranja: #ff8015;
  --color-gris: #484349;
  --color-grisclaro: #f2f2f2;
  --color-negro: #000000;
  --color-blanco: #ffffff;
}

/* FUENTES */
@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Raleway-Black";
  src: url("../fonts/Raleway-Black.ttf") format("woff2");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.ttf") format("woff2");
}
@font-face {
  font-family: "Staatliches-Regular";
  src: url("../fonts/Staatliches-Regular.ttf") format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway-Regular";
  font-weight: var(--resto-font-weight);
}

/* CONTENEDOR PRINCIPAL */
.container {
  margin: auto;
  max-width: 1200px;
}

/* HEADER */
.header {
  width: 100%;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LISTA */
.lista {
  line-height: var(--p-line-height);
}

/* Elemento de la lista */
.lista__elemento {
  list-style: none;
  text-align: center;
}

/* Enlace del elemento de la lista */
.elemento__enlace {
  text-decoration: none;
  color: var(--color-gris);
}

/* Enlade especial del elemento de la lista */
.elemento__enlace--destacado {
  color: var(--color-rosa);
  font-family: "Raleway-Bold";
}

/* HERO */
.hero {
  height: 600px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Titutlo del hero */
.hero__texto {
  color: var(--color-blanco);
  font-family: "Staatliches-Regular";
  font-size: var(--h3-size);
  text-align: center;
}

/* Boton del hero */
.hero__boton {
  width: 200px;
  background-color: var(--color-naranja);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Enlace del boton del hero */
.hero__boton__enlace {
  padding: 20px 0;
  text-decoration: none;
  color: var(--color-blanco);
  font-family: "Raleway-Bold";
}

/* CONTACTO */
.contacto {
  height: 350px;
  background-color: var(--color-grisclaro);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contacto_inputs {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Título del contacto */
.contacto__texto {
  font-family: "Staatliches-Regular";
  color: var(--color-gris);
}

/* "Inputs del contacto" */
.contacto__input {
  height: 40px;
  width: 95%;
  background-color: var(--color-blanco);
  padding: 10px;
  border: solid 1px var(--color-gris);
}

/* Input especial del contacto */
.contacto__input--select {
  color: var(--color-gris);
}

/* Contenedor del enlace "boton" de contacto */
.contacto__boton {
  width: 95%;
  background-color: #b8336a;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Enlace "botone" de contacto */
.contacto__boton__enlace {
  text-decoration: none;
  color: var(--color-blanco);
  font-family: "Raleway-Bold";
  padding: 20px 0;
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contenedor de los eventos */
.main__eventos {
  width: 100%;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Titulo del main */
.eventos__titulo {
  font-family: "Staatliches-Regular";
  color: var(--color-gris);
  font-size: var(--h3-size);
  margin: 30px 0;
}

/* Elemento evento */
.eventos__evento {
  width: 95%;
  border: solid 1px var(--color-grisclaro);
  line-height: var(--p-line-height);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Contenedor de imagen de un evento */
.evento__imagen {
  width: 100%;
}

/* Imagen del evento */
.evento__imagen__img {
  width: 100%;
}

/* Contenido informativo del evento */
.evento__evtinfo {
  padding: 10px;
  color: var(--color-gris);
}

/* Título del evento */
.evtinfo__titulo {
  font-family: "Raleway-Bold";
}

/* Contenedor del organizador */
.evtinfo__organizador {
  margin-top: 20px;

  display: flex;
  align-items: center;
}

/* Contenedor de la imagen del organizador */
.organizador__imagen {
  width: 130px;
}

/* Imagen del organizador */
.organizador__imagen__img {
  width: 100%;
  border-radius: 100%;
}

/* Info del organizador */
.organizador__info {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Titlo del organizador del evento */
.info__titulo {
  font-family: "Raleway-Bold";
  color: var(--color-negro);
}

/* CATEGORÍAS */
.main__categorias {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Titulo de las categorias */
.categorias__titulo {
  width: 100%;
  height: 150px;
  background-color: var(--color-grisclaro);
  font-family: "Staatliches-Regular";
  font-size: var(--h3-size);
  color: var(--color-gris);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Elemento categoria */
.categorias__caregoria {
  width: 100%;
  height: 250px;
  color: var(--color-blanco);
  padding: 20px;
  line-height: var(--p-line-height);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Elemento cateogria especial */
.categorias__caregoria--categoria1 {
  background-color: var(--color-rosa);
}

/* Elemento cateogria especial */
.categorias__caregoria--categoria2 {
  background-color: var(--color-turquesa);
}

/* Titulo de la categoría */
.categoria__titulo {
  font-family: "Raleway-Bold";
}

/* FOOTER */
.footer {
  width: 100%;
  padding: 30px 30px;
  text-align: center;
  line-height: 4;
}

/* Texto de derechos reservados */
.footer__derechos {
  color: var(--color-gris);
}

/* BREAKPOINT */
@media screen and (min-width: 768px) {
  /* RESET DE MARGENES */
  .header * {
    padding: 0;
    margin: 0;
  }
  .lista * {
    padding: 0;
    margin: 0;
  }

  /* HEADER */
  .header {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /* LISTA DE ENLCES */
  .lista {
    display: flex;
    gap: 15px;
  }

  /* Boton del hero */
  .hero__boton {
    width: 270px;
  }

  /* Contenedor de los inputs */
  .contacto_inputs {
    flex-direction: row;
  }

  /* Elemento input */
  .contacto__input {
    height: 50px;

    flex-direction: row;
  }

  /* Elemento boton */
  .contacto__boton {
    height: 50px;
  }

  /* Contenedor de los eventos */
  .main__eventos {
    flex-direction: row;
    justify-content: center;
  }

  /* Elemento evento */
  .eventos__evento {
    flex: 1 1 calc(33.33% - 30px);
    max-width: calc(33.33% - 30px);
  }

  /* Elemento de evento */
  .evento__evtinfo {
    padding: 20px;
  }

  /* CATEGORIAS */
  .container__categorias {
    display: flex;
    flex-direction: row;
  }

  /* Segundo elemento de las listas */
  .lista__elemento:nth-of-type(2) {
    border-left: solid 1px var(--color-grisclaro);
  }
}
