//Variables
//Fuentes
$main-font: 'Roboto', sans-serif;

//COlores
$main-color: #e8505b;
$secondary-color: #465a64;
$black:#000000;
$grey: #eceeef;
$white:#ffffff;

//Separacion
$separation: 5rem;

//Media queries

$small:480px;
$medium:768px;
$big:1024px;