@use '../base/mixins' as m;
@use '../base/vars' as v;

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    // para que ocupe el 100% en pantallas pequeñas
    width: 100%;

    @include m.dektop {
        flex-direction: row;
        width: auto;
    }

    &__link {
        @include m.btn(v.$black, v.$white);

        font-size: 2rem;

        &--register {
            @include m.btn(v.$white, v.$main-color);
        }
    }
}