// @use 'variables-ejercicio2';
@use 'variables-ejercicio2' as v with ($h1_color: tomato, $body_color: lightblue);

body {
    // background-color: variables-ejercicio2.$body_color;
    // font-size: variables-ejercicio2.$font_body_size;

    background-color: v.$body_color;
    font-size: v.$font_body_size;
}

h1 {
    font-size: v.$h1_size;
    color: v.$h1_color;
}