// VARIABLES
// Fuentes
$main-font: "Roboto", sans-serif;

// Colores
$azul: #147BC0;
$verde: #8CBC00;
$negro: #000000;
$gris: #999999;
$blanco: #FFFFFF;

// Separaciones
$separation: 5rem;

// Media queries
$small: 400px;
$medium: 768px;
$big: 1024px;