$main-color: cornflowerblue;
$secondary-color: crimson;

.card {
    border: 2px solid black;
    color: $main-color;

    &--grid {
        display: grid;
        // etc
    }

    &__title {
        text-align: center;
        font: 3rem;
    }

    &__button {
        border: 1px solid black;
        padding: 2rem;
        // etc

        &--tomato {
            @extend .card__button;
            background-color: tomato;
            counter-reset: beige;
        }

        &--aqua {
            @extend .card__button;
            background-color: aqua;
            counter-reset: olive;
        }
    }
}