* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../img/hamburguesa-con-papas-fritas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero__anuncios--div1 {
  width: 90%;
  background-color: #daa520;
  margin-top: 30px;
  padding: 20px;
}

.hero__content--div2 {
  color: white;
}

.hero__content--div2 h3 {
  color: #daa520;
}

.hero__anuncios--div3 {
  width: 90%;
  background-color: #daa520;
  margin-bottom: 30px;
  padding: 10px;
}

.hero__divs--div3 h3 {
  color: #daa520;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
  }

  .hero__anuncios,
  .hero__content {
    flex: 0 1 calc(100% / 3);
  }

  .hero__anuncios--div1 {
    width: 30%;
    align-self: flex-start;
    margin-left: 30px;
  }

  .hero__anuncios--div3 {
    width: 30%;
    align-self: flex-end;
    margin-right: 30px;
  }
}
