* {
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #a8c0ff , #3f2b96);
}

.columns {
    column-width: 10em;
}

.threecolumns {
    column-count: 3;
    column-gap: 2em;
    column-rule: dashed 1px yellow;
}