// este archivo es un partial; sera incluido en otro
// los partial SIEMPRE empiezan por _
// no se compila

$body_color: #eeff77 !default;
$h1_color: #4499aa !default;
$h1_size: 3rem !default;
$font_body_size: 1.8rem !default;