//Este archivo es un partial; será incluido en otro.
//Empieza por _
//No se compila

$body_color: #eeff77!default;
$h1_color:#4499aa!default;
$h1_size: 3rem!default;
$font_body_size:1.8rem!default;

