// Crea un mixin crear-grid que, mediante parámetros, le indiquemos número de filas, número de columnas y gap
// (valor por defecto del gap de 20px) que tendrá una cuadrícula grid. El tamaño de las filas y de las columnas será de 1fr.
$filas: 3;
$columnas:1;
$gap:20px;

@mixin crear-grid($filas,$columnas,$gap:20px) { 
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    grid-template-rows: repeat($filas,1fr);
    gap: $gap;
}

//Ejemplos
$filas:2;
$columnas:3;
$gutter:10px;

.header{
    @include crear-grid($filas,$columnas ,$gutter );
    background-color: cadetblue
}

.main{
    @include crear-grid(5 ,5 );
    background-color: aqua
}

.footer{
    @include crear-grid( 5,5 );
    background-color: chartreuse;
}

// body{
//     @include crear-grid(3,1,20);
// }

