* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.card {
  margin: auto;
  text-align: center;
  width: 350px;
  height: 450px;
  border: solid 2px black;
  border-radius: 4px;
  box-shadow: 5px 5px #333;
}

img {
  border-radius: 100%;
  margin-top: 2.5em;
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 2.4em;
}

a {
  padding: 1em;
  margin-top: 1em;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, rgb(0, 195, 255), pink);
  border-radius: 5px;
}
