@font-face {
  font-family: FontGoogle;
  src: url(Jacquarda_Bastarda_9/JacquardaBastarda9-Regular.ttf);
}

h1,
h2 {
  color: #a86cbb;
}

p {
  color: #8177c1;
}

.parrafo_destacado {
  font-size: 0.8rem;
  font-style: italic;
  font-family: "Edu AU VIC WA NT Dots";
  color: #ffe88e;
}

.parrafo_estandar {
  font-size: 1.2rem;
  color: #699cb5;
  font-family: FontGoogle;
}
