* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/css3.png"), url("../img/html5.png"),
    url("../img/js.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center center, left center, right center;
  background-attachment: fixed;
}

main {
  width: 95%;
  margin: auto;
}

.manifesto {
  background-color: rgba(20, 20, 20, 0.744);
  text-align: center;
  color: white;
  padding: 3em;
}

.manifesto p {
  text-align: justify;
  font-style: italic;
}

footer {
  margin-top: 1em;
  background-color: #333;
  color: white;
}
