* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Calibri';
}

body {
    background-color: #dddddd;
}

a {
    text-decoration: none;
    color: black;
    display: inline;
}

.container {
    width: 80%;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
}

table {
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

form {
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}